/* ==== Reset start ===== */
*{
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
body{
	font:  300 15px/1 'Open Sans', sans-serif;
	color:#777;
	margin: 0;
	background-color: #fff;
	
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
p{
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
button, input, 
textarea {
	outline: none;
	border: none;
}
button{
	padding: 0;
}
textarea{
	resize: vertical;
}
button,
input[type='submit']{
	cursor: pointer;
}
blockquote{
	margin: 0;
}
/* ==== Reset end ===== */

/* ==== Default classes start ===== */
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.bg-black{
	background-color: #111;	
}
.bg-grey{
	background-color: #f8f8f8;
}
.m-auto{
	float: none;
	margin: 0 auto;
}
/* ==== Default classes end ===== */

/* ==== Default components start ===== */
.default-section{
	padding: 135px 0;
}
.small-section{
	padding: 70px 0;
}
.container{
	max-width: 1200px ;
	margin: 0 auto;
	padding: 0 15px;
}
.container-fluid{
	padding: 0 15px;
}
.title{
	font-family: 'Dosis',sans-serif;
	text-transform: uppercase;
	color: #111;
}
.title.title-white {
	color: #fff;
}
.title.section-title{
	font-size: 18px;
	letter-spacing: 0.5em;
	margin-bottom: 75px;
	font-weight: 400;
}
.title.section-title-light{
	font-size: 18px;
	letter-spacing: 0.3em;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.44;
}
.default-text{
	font-size: 15px;
	line-height: 1.7333;
	font-weight:300;
}
blockquote,.blockquote{
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}
blockquote span,
.blockquote span{
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
}

/*----- Buttons ----- */
.btn {
	font: 400 13px/1 'Open Sans', sans-serif;
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.btn[disabled]{
	cursor: not-allowed;
	opacity: 0.6;
}
.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}

.btn.btn-default:hover {
	background-color: #d1d0d0;
}

.btn.btn-black {
	background-color: #323232;
	color: #fff;
}

.btn.btn-black:hover {
	background-color: #000;
}

.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
}
/*----- Buttons end ----- */
/* ----- Input----- */

.form-control{
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 36px;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding: 0 13px;
}
.form-control:focus{
	border-color: #111;
}
textarea.form-control{
	min-height: 85px;
	padding-top: 10px;
}
.form-control[disabled],
.form-control.disabled{
	cursor: not-allowed;
	opacity: .6;
}
.form-info{
	font-size: 11px;
	color: #aaa;
	font-weight: 400;
}
.form-info .fa{
	font-size: 12px;
}
.rhomb-icon{
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	border-radius: 2px;
	font-size: 14px;
	transform: rotate(45deg);
}
.rhomb-icon i{
	transform: rotate(-45deg);
}
.rhomb-icon.black-icon{
	color: #fff;
	background-color: #111;
}

/* ----- Input end ---- */
.header{
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	z-index: 99;
	padding: 30px 0;
	overflow: hidden;
}
.header .logo{
	float: left;
}
.header .logo span{
	font-weight:600;
	letter-spacing: 0.3em; 
}
.header .header-nav{
	float: right;
}
.header .header-nav li{
	float: left;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.3em;
	color:rgba(254, 254, 254, 0.75);
}
.header .header-nav li + li {
	margin-left: 20px;
}

/* ==== Default components end ===== */

/* ==== Guide-section start ===== */
.guide-section form .form-control {
	margin-bottom: 10px;
}

/* ==== Guide-section end ===== */



/* ==== Customs styles start ===== */

/* ------inner--------- */
.inner{
	background: #000 url('../img/bg.jpg') no-repeat center/cover;
	height: 100vh;
	text-align: center;
	padding-top: 83px;
}

.inner::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left:-4px;
}
.inner-content{
    display: inline-block;
	vertical-align: middle;
	color:rgba(254, 254, 254, 0.9);
}
.inner-content h1{
	font-size: 30px;
	letter-spacing: 1.7em;
	margin-bottom: 100px;
	text-indent: 1.7em;
	color:rgba(254, 254, 254, 0.9);
}
.inner-content span{
	font-size: 19px;
}
/* ------inner--------- */
/* ------about studio-------- */
.about-stydio.default-section{
	border-bottom: 1px solid rgba(236,236,236,0.92);
}
.team-wrapper{
	overflow: hidden;
	width: 100%;
	margin-top: 100px;

}
.team-item .team-item-img{
	margin-bottom: 30px;
	position: relative;
}
.team-item .team-item-skills{
	opacity: 0;
	padding: 40px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	top: 0;
	transition: all .2s linear;

}
.team-item .team-item-img:hover .team-item-skills{
	opacity: 1;
}
.team-item .team-item-skills .skills-info{
	font-size: 13px;
	font-weight: normal;
	line-height: 1.615;
}
.team-item .team-item-info{
	text-transform: uppercase;
	font-family:'Dosis';
	font-weight: normal;
	letter-spacing: 0.4em;
}
.team-item .team-item-info span{
	display: block;
	margin-bottom: 15px;
}
/*margin-bottom: 15px; добавляю на span, а не .team-item-name
 на случай добавления информации после .team-item-role.
 Если это лишнее, то можно только на name */

.team-item .team-item-name{
	font-size: 15px;
}
.team-item .team-item-role{
	font-size: 12px;
}
/* ------about studio end------ */

/* ------services------- */
#tabs .tabs-nav {
	margin-bottom: 75px;
	overflow: hidden;
}
#tabs .tabs-nav li{
	float:left;
	width: 20%;
	text-align: center;
	color: #a7a7a7;
}
#tabs .tabs-nav li span{
	display: block;
}
#tabs .tabs-nav .icon{
	font-size: 48px;
	margin-bottom: 35px;
}
#tabs .tabs-nav li .icon-title{
	font-family: 'Dosis',sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.4em;
}
#tabs .tabs-nav .ui-state-active{
	color: #111;
}

/* ------services end------ */

/* ------lets-talk-content------ */
.lets-talk-content{
	padding: 140px 0;
}
.lets-talk-content p{
	color: rgba(255, 255, 255,.7);
	margin-bottom: 35px;
}
.lets-talk-content .btn {
	color:#111;
}
.lets-talk .lets-talk-img{
	margin-top: -32px;
}
/* ------lets-talk-content end------ */

/* ------portfolio------ */
.portfolio p{
	max-width: 750px;
	margin: 0 auto;
}
.porfolio-tabs-wrapper{
	overflow: hidden;
}
#tabs-portfolio .tabs-nav{
	margin-bottom: 50px;
}
#tabs-portfolio .tabs-nav li{
	display: inline-block;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.4em;
	color: rgba(17,17,17,0.5);
}
#tabs-portfolio .tabs-nav li+li{
	margin-left: 60px;
}
#tabs-portfolio .tabs-nav .ui-state-active{
	color:#111;
}
#tabs-portfolio{
	overflow: hidden;
	margin: 0 -4px;
}
#tabs-portfolio .tabs-item{
	width: 33.3333%;
	float: left;
	padding: 0 4px;	
}
#tabs-portfolio .tabs-item img{
	max-height: 100%;
	width: 100%;
	filter: grayscale(100%)
}
#tabs-portfolio .tabs-item:hover img{
	filter: grayscale(0);
}

/* ------portfolio end------ */


/* ------like-our-works------ */
.like-our-works .btn{
	color: #111;
}
/* ------like-our-works end------ */

/* ------why-choose-us------ */
.why-choose-us .row{
	margin-bottom: 75px;
}
.why-choose-us .icon{
	font-size: 48px;
	margin-bottom: 30px;
}
.why-choose-us .icons-title{
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.4em;
	margin-bottom: 30px;
}

/* ------why-choose-us end ------ */

/* ------reviews ------ */
.reviews-slider{
	padding: 135px 0;
	overflow: hidden;
}
.reviews-slider .icon{
	font-size: 32px;
	margin-bottom: 25px;
}
.reviews-slider p{
	font-size: 18px;
	line-height: 1.6666;
	margin: 0 auto 30px;
	max-width: 740px;
}
.reviews-slider .review-author{
	font-size: 11px;
	letter-spacing: 0.2em;
	color: rgba(255, 255, 255,.75);
	line-height: 3.45;
	text-transform: uppercase;
}
.slick-dots{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30px;
}
.slick-dots li{
	display: inline-block;
	width: 9px;
	height: 9px;
	background-color: rgba(255, 255, 255,.8);
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
}
.slick-dots li button{
	display: none;
}
.slick-dots li+li{
	margin-left: 5px;
}
.slick-dots li.slick-active{
	background-color: #000;
	border-color: rgba(255, 255, 255,.8);
}
.slick-arrow{
	position: absolute;
	top:0;
	height: 100%;
	z-index: 1;
	width: 90px;
	cursor: pointer;
}
.slick-arrow.slick-prev{
	left: 0;
}
.slick-arrow.slick-next{
	right: 0;
}

.slick-arrow .slider-button{
	width: 63px;
	height: 63px;
	background: #fff;
	border-radius: 2px;
	transform: rotate(-45deg);
	position: absolute;
	top:50%;
	margin-left:-32px;
	margin-top: -31px;
}
.slick-arrow.slick-next .slider-button{
	right: 0;
	margin-left: -31px;
} 

.slick-arrow .slider-button .fa{
	position: absolute;
	transform: rotate(45deg);
	font-size: 10px;
}
.slick-arrow.slick-prev .slider-button .fa{
	bottom: 16px;
	right: 17px;
}
.slick-arrow.slick-next .slider-button .fa{
	left: 16px;
	top: 17px;
}
/* ------reviews end------ */

/* ------ latest-news ------ */
.latest-news .title.section-title a{
	float: right;
}
.latest-news .title.section-title a,
.latest-news .speaker-and-date{
	color: #999;
	font-size: 11px;
	letter-spacing: 0.4em;
}
.latest-news-img{
	max-height: 200px;
	margin-bottom: 30px;
}
.latest-news-img img{
	filter: grayscale(100%);
}
.latest-news-img:hover img{
	filter: grayscale(0);
}
.latest-news .news-title a,
.latest-news .speaker-and-date{
	font-family: 'Dosis',sans-serif;
	text-transform: uppercase;
	display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}	
.latest-news .news-title{
	font-size: 15px;
	color: #777;
	letter-spacing: 0.2em;
	margin-bottom: 15px;
}
.latest-news p{
	margin: 30px 0;
	color: #777;
}
/* ------latest-news end ------ */


/* ------Subscribe start------ */
.subscribe form .form-control{
	max-width: 290px;
}
.subscribe .form-info{
	margin-top: 17px;
}
/* ------Subscribe end ------ */


/* ------Contact start------ */
.contact .contact-items-wrapper{
	margin-bottom: 80px;
}
.contact .contact-item-content {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.contact .contact-item-content span{
	display: block;
}
.contact .contact-item-content .contact-title{
	font-family: 'Dosis',sans-serif;
	text-transform: uppercase;
	color: #777;
	font-size: 12px;
	letter-spacing: 0.3em;
	font-weight: 400;
}
.contact .contact-item-content .contact-data{
	line-height: 1.6;
	color: #444;
}
.contact form .form-control{
	margin-bottom: 15px;
}
.contact form .form-info{
	line-height: 2.3636;
}
/* ------Contact end------ */

/* ==== Customs styles end ===== */