/* ==== Reset start ===== */
*{
	box-sizing: border-box;
}
body{
	font:  300 15px/1 'Open Sans', sans-serif;
	color:#777;
	margin: 0;
	background-color: #fff;
	
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
p{
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
blockquote{
	margin: 0;
}
/* ==== Reset end ===== */

/* ==== Default classes start ===== */
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.bg-black{
	background-color: #111;	
}
.bg-grey{
	background-color: #f8f8f8;
}
/* ==== Default classes end ===== */

/* ==== Default components start ===== */
.default-section{
	padding: 135px 0;
	overflow: hidden;/* временно */
}
.small-section{
	padding: 70px 0;
}
.container{
	max-width: 1200px ;
	margin: 0 auto;
	padding: 0 15px;
}
.container-fluid{
	padding: 0 15px;
}
.title{
	font-family: 'Dosis',sans-serif;
	text-transform: uppercase;
	color: #111;
}
.title.title-white {
	color: #fff;
}
.title.section-title{
	font-size: 18px;
	letter-spacing: 0.5em;
	margin-bottom: 75px;
	font-weight: 400;
}
.title.section-title-light{
	font-size: 18px;
	letter-spacing: 0.3em;
	margin-bottom: 20px;
	font-weight: 300;
}
.default-text{
	font-size: 15px;
	line-height: 1.7333;
	font-weight:300;
}
blockquote,.blockquote{
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}
blockquote span,
.blockquote span{
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
}
.btn {
	font: 400 12px/1 'Open Sans', sans-serif;
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	text-transform: uppercase;
}

.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}

.btn.btn-default:hover {
	background-color: #d1d0d0;
}

.btn.btn-black {
	background-color: #323232;
	color: #fff;
}

.btn.btn-black:hover {
	background-color: #000;
}

.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
}
.header{
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	z-index: 99;
	padding: 30px 0;
	overflow: hidden;
}
.header .logo{
	float: left;
}
.header .logo span{
	font-weight:600;
	letter-spacing: 0.3em; 
}
.header .header-nav{
	float: right;
}
.header .header-nav li{
	float: left;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.3em;
	color:rgba(254, 254, 254, 0.75);
}
.header .header-nav li + li {
	margin-left: 20px;
}

/* ==== Default components end ===== */

/* ==== Customs styles start ===== */

/* ------inner--------- */
.inner{
	background: #000 url('../img/bg.jpg') no-repeat center/cover;
	height: 100vh;
	text-align: center;
	padding-top: 92px;
}

.inner::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left:-4px;
}
.inner-content{
    display: inline-block;
	vertical-align: middle;
	color:rgba(254, 254, 254, 0.9);
}
.inner-content h1{
	font-size: 30px;
	letter-spacing: 1.7em;
	margin-bottom: 100px;
	text-indent: 1.7em;
	color:rgba(254, 254, 254, 0.9);
}
.inner-content span{
	font-size: 19px;
}
/* ------inner--------- */
/* ------about studio-------- */
.team-wrapper{
	overflow: hidden;
	width: 100%;
	margin-top: 100px;
}
.team-item .team-item-img{
	margin-bottom: 30px;
	position: relative;
}
.team-item .team-item-skills{
	opacity: 0;
	padding: 40px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	top: 0;

}
.team-item .team-item-img:hover .team-item-skills{
	opacity: 1;
}
.team-item .team-item-skills .skills-info{
	font-size: 13px;
	font-weight: normal;
	line-height: 1.615;
}
.team-item .team-item-info{
	text-transform: uppercase;
	font-family:'Dosis';
	font-weight: normal;
	letter-spacing: 0.4em;
}
.team-item .team-item-info span{
	display: block;
	margin-bottom: 15px;
}
/*margin-bottom: 15px; добавляю на span, а не .team-item-name
 на случай добавления информации после .team-item-role.
 Если это лишнее, то можно только на name */

.team-item .team-item-name{
	font-size: 15px;
}
.team-item .team-item-role{
	font-size: 12px;
}


/* ------about studio-------- */

/* ==== Customs styles end ===== */