/* ==== Reset start ===== */
*{
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
body{
	font:  300 15px/1 'Open Sans', sans-serif;
	color:#777;
	margin: 0;
	background-color: #fff;
	
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
p{
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
button, input, 
textarea {
	outline: none;
	border: none;
}
button{
	padding: 0;
}
textarea{
	resize: vertical;
}
button,
input[type='submit']{
	cursor: pointer;
}
blockquote{
	margin: 0;
}
/* ==== Reset end ===== */

/* ==== Default classes start ===== */
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.bg-black{
	background-color: #111;	
}
.bg-grey{
	background-color: #f8f8f8;
}
.m-auto{
	float: none;
	margin: 0 auto;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
/* ==== Default classes end ===== */

/* ==== Default components start ===== */
.default-section{
	padding: 135px 0;
}
.small-section{
	padding: 70px 0;
}
.container{
	max-width: 1200px ;
	margin: 0 auto;
	padding: 0 15px;
}
.container-fluid{
	padding: 0 15px;
}
.title{
	font-family: 'Dosis',sans-serif;
	text-transform: uppercase;
	color: #111;
}
.title.title-white {
	color: #fff;
}
.title.section-title{
	font-size: 18px;
	letter-spacing: 0.5em;
	margin-bottom: 75px;
	font-weight: 400;
}
.title.section-title-light{
	font-size: 18px;
	letter-spacing: 0.3em;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.44;
}
.default-text{
	font-size: 15px;
	line-height: 1.7333;
	font-weight:300;
}
blockquote,.blockquote{
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}
blockquote span,
.blockquote span{
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
}
@media(max-width:991px){
	.default-section{
		padding: 100px 0;
	}
	blockquote,.blockquote{
		margin-bottom: 30px;
	}
}
@media(max-width:767px){
	.default-section{
		padding: 75px 0;
	}
	blockquote,.blockquote{
		font-size: 18px;
	}
}
/*----- Buttons ----- */
.btn {
	font: 400 13px/1 'Open Sans', sans-serif;
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.btn[disabled]{
	cursor: not-allowed;
	opacity: 0.6;
}
.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}

.btn.btn-default:hover {
	background-color: #d1d0d0;
}

.btn.btn-black {
	background-color: #323232;
	color: #fff;
}

.btn.btn-black:hover {
	background-color: #000;
}

.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
}
@media(max-width:576px){
	.btn{
		width: 100%;
	}
	.btn.btn-xs{
		width: auto;
	}
	
}
/*----- Buttons end ----- */
/* ----- Input----- */

.form-control{
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 40px;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding: 0 13px;
}
.form-control:focus{
	border-color: #111;
}
textarea.form-control{
	min-height: 90px;
	padding-top: 10px;
}
.form-control[disabled],
.form-control.disabled{
	cursor: not-allowed;
	opacity: .6;
}
.form-info{
	font-size: 11px;
	color: #aaa;
	font-weight: 400;
}
.form-info .fa{
	font-size: 12px;
}
.rhomb-icon{
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	border-radius: 2px;
	font-size: 14px;
	transform: rotate(45deg);
	border: 1px solid transparent;
}
.rhomb-icon i{
	transform: rotate(-45deg);
}
.rhomb-icon.black-icon{
	color: #fff;
	background-color: #111;
}
.rhomb-icon.transparent-icon{
	color: #111;
	border: 1px solid #2d2d2d;
}
.rhomb-icon.white-icon{
	color: #222;
	background-color: #fff;
}
/* ----- Input end ---- */
.arrow-up{
	font-size: 50px;
	color: #c6c6c6;
	position: fixed;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
}
/* ----- header ---- */
.header{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	z-index: 99;
	padding: 30px 0;
	overflow: hidden;
}
.header .logo{
	float: left;
}
.header .logo span{
	font-weight:600;
	letter-spacing: 0.3em; 
}
.header .header-nav{
	float: right;
}
.header .header-nav li{
	float: left;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.3em;
	color:rgba(254, 254, 254, 0.75);
}
.header .header-nav li + li {
	margin-left: 20px;
}
.slicknav_menu {
	display: none;
}
@media(max-width:767px){
	.slicknav_menu{
		display: block;
	}
	.header{
		overflow: visible;
		padding: 21px 0;
	}
	
	.header .logo{
		margin-top: 10px;
	}
	.header-nav{
		display: none;
	}
}
/* ----- header end ---- */
/* ----- footer ---- */
.footer{
	padding: 140px 0 60px;
}
.footer .logo{
	margin-bottom: 25px;
}
.footer .footer-nav{
	margin-bottom: 100px;
}
.footer .footer-nav li{
	display: inline-block;	
}
.footer .footer-nav li+li{
	margin-left: 15px;
}
.footer .copyright span{
	display: block;
	font-weight: 400;
	line-height: 2;
}
.footer .copyright span{
	font-size: 11px;
	color: #999;
}
.footer .copyright .company{
	font-family: 'Dosis',sans-serif;
	font-size: 12px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #111;
}
@media(max-width:767px){
	.footer{
		padding: 100px 0 40px;
	}
	.footer .footer-nav{
		margin-bottom: 70px;
	}
}

/* ----- footer end ---- */

/* ==== Default components end ===== */

/* ==== Guide-section start ===== */
.guide-section form .form-control {
	margin-bottom: 10px;
}

/* ==== Guide-section end ===== */

/* ==== Customs styles start ===== */

/* ------inner--------- */
.inner{
	background: #000 url('../img/bg.jpg') no-repeat center/cover;
	height: 100vh;
	text-align: center;
	padding-top: 83px;
	position: relative
}
.inner::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left:-4px;
}
.inner-content{
    display: inline-block;
	vertical-align: middle;
	color:rgba(254, 254, 254, 0.9);
}
.inner-content .title{
	font-size: 30px;
	letter-spacing: 1.7em;
	margin-bottom: 100px;
	text-indent: 1.7em;
	color:rgba(254, 254, 254, 0.9);
}
.inner-content span{
	font-size: 19px;
}
.inner .rhomb-icon{
	position: absolute;
	bottom: 35px;
	left: 50%;
	margin-left: -16px;
}
@media(max-width:991px){
	.inner-content .title{
		letter-spacing: .7em;
		text-indent: .7em;
		margin-bottom: 50px;
	}
}
@media(max-width:767px){
	.inner{
		height: auto;
		padding: 150px 0;
	}
	.inner-content .title{
		letter-spacing: .5em;
		text-indent: .5em;
		margin-bottom: 30px;
	}
	.inner-content span{
		font-size: 15px;
	}

}
@media (max-width: 576px){
	.inner-content .title{
		font-size: 20px;
	}
	.inner-content span {
    padding: 0 15px;
    line-height: 1.5;
	}
}
/* ------inner--------- */
/* ------about studio-------- */
.about-stydio.default-section{
	border-bottom: 1px solid rgba(236,236,236,0.92);
}
.team-wrapper{
	overflow: hidden;
	width: 100%;
	margin-top: 100px;

}
.team-item .team-item-img{
	margin-bottom: 30px;
	position: relative;
}

/*-- skills-- */
.team-item .team-item-img .team-item-skills{
	opacity: 0;
	padding: 40px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	top: 0;
	transition: all .2s linear;

}
.team-item .team-item-img:hover .team-item-skills{
	opacity: 1;
}
.team-item .team-item-skills p{
	font-size: 13px;
	font-weight: 400;
	line-height: 1.615;
	margin-bottom: 40px;
	color: rgba(255, 255, 255,.5)
}
.team-item .team-item-skills .skill-item span{
	font-size: 11px;
	font-weight: 400;
	line-height: 3.45;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgb(255, 255, 255)
}
.team-item .progress-wrapp{
	width: 100%;
	height: 12px;
	background-color: rgba(255, 255, 255,.15);
	overflow: hidden;
}
.team-item .progress-wrapp .progress{
	background-color: rgba(255, 255, 255,.75);
	height: 12px;
	width: 0%;
}
.team-item .progress.branding{
	transition: width .5s ease-out;
}
.team-item .progress.design{
	transition: width .5s ease-out .2s;
}
.team-item .progress.development{
	transition: width .5s ease-out .4s;
}
.team-item .progress.photography{
	transition: width .5s ease-out .6s;
}
.team-item .team-item-img:hover .progress.branding{
	width: 78%;
}
.team-item .team-item-img:hover .progress.design{
	width: 85%;
}
.team-item .team-item-img:hover .progress.development{
	width: 90%;
}
.team-item .team-item-img:hover .progress.photography{
	width: 70%;
}
/* --skills end-- */

.team-item .team-item-info{
	text-transform: uppercase;
	font-family:'Dosis';
	font-weight: normal;
	letter-spacing: 0.4em;
}
.team-item .team-item-info span{
	display: block;
	margin-bottom: 15px;
}
.team-item .team-item-name{
	font-size: 15px;
}
.team-item .team-item-role{
	font-size: 12px;
}
@media(max-width:991px){
	.team-item{
		margin-bottom: 50px;
	}
	.team-wrapper .col:last-child .team-item{
		margin-bottom: 0;
	}
	.team-item .team-item-img .team-item-skills{
		padding: 20px;
	}
	.team-item-skills .skill-item+.skill-item{
		margin-top: 15px;
	}
	.team-item .team-item-skills p{
		display: none;
	}
	.team-item .team-item-name{
		font-size: 12px;
	}
	.team-item .team-item-role{
		font-size: 10px;
	}
}
@media(max-width:767px){
	.about-stydio .col:last-child .default-text{
		margin-top: 30px;
	}
	.about-stydio .team-wrapper .team-item{
		text-align: center;
	}
	.team-item .team-item-img .team-item-skills{
		padding: 60px;
		width: 75%;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media(max-width:576px){
	.team-item .team-item-img .team-item-skills{
		width: 100%;
		padding: 40px;
	}
}

/* ------about studio end------ */

/* ------services------- */
#tabs .tabs-nav {
	margin-bottom: 75px;
	overflow: hidden;
}
#tabs .tabs-nav li{
	float:left;
	width: 20%;
	text-align: center;
	color: #a7a7a7;
}
#tabs .tabs-nav li span{
	display: block;
}
#tabs .tabs-nav .icon{
	font-size: 48px;
	margin-bottom: 35px;
}
#tabs .tabs-nav li .icon-title{
	font-family: 'Dosis',sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.4em;
}
#tabs .tabs-nav .ui-state-active{
	color: #111;
}
#tabs .tab-panel{
	clear: both;
}
@media(max-width:991px){
	#tabs .tabs-nav {
		margin-bottom: 45px;}
	#tabs .tabs-nav li .icon-title{
		font-size: 12px;
	}

}
@media(max-width:767px){
	#tabs .tabs-nav li{
		width: 33.333%;
		margin-bottom: 45px;
	}
	#tabs .tabs-nav {
		margin-bottom: 0;
	}
	.tabs-wrapper .row .col:last-child p.default-text:last-child{
		margin-top: 30px;
	}
}
@media(max-width:576px){
	#tabs .tabs-nav li .icon-title{
		font-size: 11px;
		letter-spacing: 0.2em;
	}
}
	

/* ------services end------ */

/* ------lets-talk-content------ */
.lets-talk-content{
	padding: 140px 0;
}
.lets-talk-content p{
	color: rgba(255, 255, 255,.7);
	margin-bottom: 35px;
}
.lets-talk-content .btn {
	color:#111;
}
.lets-talk .lets-talk-img{
	margin-top: -32px;
}
@media(max-width:991px){
	.lets-talk-content{
		text-align-last: center;
		padding: 70px 0;
	}
}
@media(max-width:576px){
	.lets-talk-content .title{
		text-align: center;
	}
	.lets-talk-content p{
		text-align: justify;
	}
}
/* ------lets-talk-content end------ */

/* ------portfolio------ */
.portfolio p{
	max-width: 750px;
	margin: 0 auto;
}
.porfolio-tabs-wrapper{
	overflow: hidden;
}
#tabs-portfolio .tabs-nav{
	margin-bottom: 50px;
}
#tabs-portfolio .tabs-nav li{
	display: inline-block;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.4em;
	color: rgba(17,17,17,0.5);
}
#tabs-portfolio .tabs-nav li+li{
	margin-left: 60px;
}
#tabs-portfolio .tabs-nav .ui-state-active{
	color:#111;
}
#tabs-portfolio{
	overflow: hidden;
	margin: 0 -4px;
}
#tabs-portfolio .tabs-item{
	width: 33.3333%;
	float: left;
	padding: 0 4px;	
}
#tabs-portfolio .tabs-item img{
	max-height: 100%;
	width: 100%;
	filter: grayscale(100%)
}
#tabs-portfolio .tabs-item:hover img{
	filter: grayscale(0);
}
@media(max-width:991px){
	.portfolio p{
		max-width: 600px;
		margin: 0 auto;
	}
	#tabs-portfolio .tabs-item{
		width: 50%;
	}
}
@media(max-width:767px){
	#tabs-portfolio .tabs-nav li{
		display: block;
	}
	#tabs-portfolio .tabs-nav li+li{
		margin-left: 0px;
		margin-top: 15px;
	}
	#tabs-portfolio .tabs-item{
		width: 100%;
	}
}

/* ------portfolio end------ */


/* ------like-our-works------ */
.like-our-works .btn{
	color: #111;
}
/* ------like-our-works end------ */

/* ------why-choose-us------ */
.why-choose-us .row{
	margin-bottom: 75px;
}
.why-choose-us .why-choose-us-item .icon{
	font-size: 48px;
	margin-bottom: 30px;
}
.why-choose-us .why-choose-us-item .icons-title{
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.4em;
	margin-bottom: 30px;
}
@media(max-width:991px){
	.why-choose-us .row{
		margin-bottom: 0;
	}
	.why-choose-us .row:last-child .col:last-child .why-choose-us-item{
		margin-bottom: 0;
	}
	.why-choose-us .why-choose-us-item{
		margin-bottom: 50px;
	}
	.why-choose-us .why-choose-us-item .default-text{
		text-align: center;
		max-width: 600px;
		margin: auto;	
	}
}
/* ------why-choose-us end ------ */

/* ------reviews ------ */
.reviews-slider{
	padding: 135px 0;
	overflow: hidden;
}
.reviews-slider .icon{
	font-size: 32px;
	margin-bottom: 25px;
}
.reviews-slider p{
	font-size: 18px;
	line-height: 1.6666;
	margin: 0 auto 30px;
	max-width: 740px;
	color:#fff;
}
.reviews-slider .review-author{
	font-size: 11px;
	letter-spacing: 0.2em;
	color: rgba(255, 255, 255,.3);
	line-height: 3.45;
	text-transform: uppercase;
}
.slick-dots{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30px;
}
.slick-dots li{
	display: inline-block;
	width: 9px;
	height: 9px;
	background-color: rgba(255, 255, 255,.8);
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
}
.slick-dots li button{
	display: none;
}
.slick-dots li+li{
	margin-left: 5px;
}
.slick-dots li.slick-active{
	background-color: #000;
	border-color: rgba(255, 255, 255,.8);
}
.slick-arrow{
	position: absolute;
	top:0;
	height: 100%;
	z-index: 1;
	width: 90px;
	cursor: pointer;
}
.slick-arrow.slick-prev{
	left: 0;
}
.slick-arrow.slick-next{
	right: 0;
}

.slick-arrow .slider-button{
	width: 63px;
	height: 63px;
	background: #fff;
	border-radius: 2px;
	transform: rotate(-45deg);
	position: absolute;
	top:50%;
	margin-left:-32px;
	margin-top: -31px;
}
.slick-arrow.slick-next .slider-button{
	right: 0;
	margin-right: -31px;
} 

.slick-arrow .slider-button .fa{
	position: absolute;
	transform: rotate(45deg);
	font-size: 10px;
}
.slick-arrow.slick-prev .slider-button .fa{
	bottom: 16px;
	right: 17px;
}
.slick-arrow.slick-next .slider-button .fa{
	left: 16px;
	top: 17px;
}
@media(max-width:767px){
	.reviews-slider{
		padding: 100px 0;
	}
	.reviews-slider p{
		font-size: 16px;
		line-height: 1.6666;
		margin: 0 auto;
		max-width: 450px;
		color:#fff;
	}
}
@media(max-width:576px){
	.reviews-slider{
		padding: 75px 0;
	}
	.reviews-slider p{
		font-size: 13px;
		line-height: 1.6666;
		margin: 0 auto 10px;
		max-width: 200px;
		color:#fff;
	}
}
/* ------reviews end------ */

/* ------ latest-news ------ */
.latest-news .title.section-title{
	overflow: hidden;
}
.latest-news .title.section-title a{
	float: right;
	line-height: 22px;
}
.latest-news .title.section-title a,
.latest-news .latest-news-item .speaker-and-date{
	color: #999;
	font-size: 11px;
	letter-spacing: 0.4em;
}
.latest-news .latest-news-item .latest-news-img{
	margin-bottom: 30px;
}
.latest-news .latest-news-item .latest-news-img img{
	max-height: 100%;
	filter: grayscale(100%);
}
.latest-news .latest-news-item .latest-news-img:hover img{
	filter: grayscale(0);
}
.latest-news .latest-news-item .news-title{
	color: #777;
	font-family: 'Dosis',sans-serif;
	font-size: 15px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.latest-news .latest-news-item .news-title a{
	display: block;
	margin-bottom: 15px;
}
.latest-news .latest-news-item .news-title span{
	font-size: 11px;
	letter-spacing: 0.4em;
	color: #999;
}
.latest-news .latest-news-item p{
	margin-bottom: 30px;
	color: #777;
}
@media(max-width:991px){
	.latest-news .latest-news-item{
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 2px solid rgba(236,236,236,0.92);
	}
	.latest-news .col:last-child .latest-news-item{
		margin-bottom: 0px;
	}
	.latest-news .latest-news-item .latest-news-img img{
		width: 100%;
	}
}
@media(max-width:576px){
	.latest-news .title.section-title a{
		margin-top: 30px;
	}
}

/* ------latest-news end ------ */


/* ------Subscribe start------ */
.subscribe form .form-control{
	max-width: 290px;
}
.subscribe .form-info{
	margin-top: 17px;
}
@media(max-width:576px){
	.subscribe form .form-control{
		max-width: 100%;
	}
	.subscribe form .form-control{
		margin-bottom: 15px;
	}
}
/* ------Subscribe end ------ */


/* ------Contact start------ */
.contact .contact-items-wrapper{
	margin-bottom: 80px;
}
.contact .contact-item .contact-item-content {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.contact .contact-item .contact-item-content span{
	display: block;
}
.contact .contact-item .contact-item-content .contact-title{
	font-family: 'Dosis',sans-serif;
	text-transform: uppercase;
	color: #777;
	font-size: 12px;
	letter-spacing: 0.3em;
	font-weight: 400;
}
.contact .contact-item .contact-item-content .contact-data{
	line-height: 1.6;
	color: #444;
}
.contact .contact-form .form-row{
	margin: 0 -5px;
	overflow: hidden;
}
.contact .contact-form .form-col{
	float: left;
	width: 50%;
	padding: 0 5px;
}
.contact .contact-form .form-control + .form-control{
	margin-top: 10px;
}
.contact .contact-form .submit-button{
	margin-top: 20px;
}
.contact .contact-form .form-info{
	line-height: 40px;
}
@media(max-width:1200px){
.contact .contact-item .contact-item-content .contact-data{
	font-size: 13px;
}
}
@media(max-width:767px){
	.contact .contact-items-wrapper{
		margin-bottom: 60px;
	}
	.contact .contact-items-wrapper .contact-item{
		text-align: center;
	}
	.contact .contact-item .contact-item-content{
		display: block;
		margin: 30px 0;
	}
	.contact .contact-items-wrapper .col:last-child .contact-item-content{
		margin-bottom: 0;
	}
	.contact .contact-item-content .contact-title{
		margin-bottom: 5px;
	}
	.contact .contact-form .form-col{
		width: 100%;
	}
	.contact .contact-form .form-control + .form-control{
		margin-top: 0;
	}
	.contact .contact-form .form-col:first-child .form-control{
		margin-bottom: 10px;
	}
	

}
/* ------Contact end------ */
/* ------Map start------ */
#map{
	height: 410px;
}
.map-container{
	position: relative;
}
/* .map-container .on-map-block-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.9);
	height: 100%;
	width: 100%;
}
.map-container .on-map-block{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
} */
.map-container .on-map-block-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.9);
	height: 100%;
	width: 100%;
}
.map-container .on-map-block-wrapper::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left:-4px;
}
.map-container .on-map-block{
	display: inline-block;
	vertical-align: middle;
}
.map-container:hover .on-map-block-wrapper{
	display: none;
}
.map-container .on-map-block .rhomb-icon{
	margin-bottom: 25px;
}
.map-container .on-map-block span{
	font-size: 16px;
	letter-spacing: 0.3em;
	font-weight: 400;
	color:rgba(255, 255, 255,.5);
	font-family: 'Dosis',sans-serif;
	text-transform: uppercase;
	display: block;
}
@media(max-width:576px){
	#map{
		height: 310px;
	}
}
/* ------Map end------ */


/* ==== Customs styles end ===== */